output/
__pycache__/
Probe/
output/
*.bag
*.mp4
*.wav
*.txt
.vscode/
audio/
ros_readbagfile.py
outputdemo/
here/
test/
sounds/
*.gif
**.png
**.csv
outputs/
learning.egg-info/
**.pth
wandb/
ProbeOutput/
RoboOutput/
TestOutput/
*.wav
*.mp4
*.png
*.csv
*.bag
*.mp4
*.wav
ParsedRoboOutput/.DS_Store
ParsedRoboOutput/force/.DS_Store
ParsedRoboOutput/wave/.DS_Store
*.DS_Store
preprocessing_plots/
RoboSounds/
*.json
*.jsonl
*.jsonl.gz
*.jsonl.tar.gz
*.jsonl.tar.gz.part
VideoLOutput
DemoOut
SplitRoboOutput
*.wav
*.mp4
*.png
*.csv
*.bag
*.mp4
*.wav
audio_visual_dataset/
audio_visual_dataset_robo/
audio_visual_dataset_frozen/
audio_visual_dataset_robo_frozen/
audio_visual_dataset_test/
obo_audio_visual_dataset/
audio_visual_dataset_robo.zip
audio_visual_dataset.zip
processed_audio/
processed_images/
processed_images_val/
window_duration*
missed/
ablation_study*/
*audio_visual_dataset*
*time_ablation_study*
**.jpg
**.png
**.pdf
**.csv
**.json
**.jsonl
**.jsonl.gz
**.jsonl.tar.gz

visualization_output/tsne_audio_visualization.pdf
